{% extends "layout.html.jinja" %}
{% block content%}
    <h1>Home page</h1>
    <h2>Hello, {{ name|capitalize }}</h2>
    <h2>You are {{ age }} years old</h2>
    <h2>You are {{ profession }}</h2>

    {% set pet='cat' %}
     <h2>You have a {{ pet }}</h2>
    
     {% set user_list = ['tom', 'jerry', 'spike'] %}
        <ul>
            {% for user in user_list %}
                     <li><h3>{{ user|capitalize }}</h3></li>
            {% endfor %}
        </ul>
{% endblock content%}

