{% extends "layout.html.jinja" %}
{% block content %}
    <h1>Lecture 4</h1>
    {% if name %}
       <h2>Hello, {{name}}</h2>
    {% endif %}  

       <h2>What's your name</h2>
        <br>
       <form method="POST">
           {{form.hidden_tag()}}
           {{form.name.label(class="form-label")}}
           {{form.name(class="form-control", autocomplete='off')}}
           <br>
           {{form.submit(class="btn btn-success")}}
           
        </form>
{% endblock content %}